<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Hello Flask Index Page</title>
</head>
<body>
	<h1>Index Page</h1>
	{% for message in get_flashed_messages() %}
	  <p class="message">{{ message }}</p>
	{% endfor %}	
	<ul>
		<li><a href="/login">/login</a></li>
        {% if g.user %}
		<li><a href="/logout">/logout</a> [{{ g.user.name }}]</li>
		{% else %}
		<li><a href="/logout">/logout</a></li>
		{% endif %}
		<li><a href="/hello">/hello</a></li>
		<li><a href="/hello/flask">/hello/flask</a></li>
		<li><a href="/slash">/slash</a></li>
		<li><a href="/slash/">/slash/</a></li>
		<li><a href="/arg/abc">/arg/abc</a></li>
		<li><a href="/arg/abc?foo=bar">/arg/abc?foo=bar</a></li>
		<li><a href="/test_url_for">url_for('show_arg', name='abc', foo='bar')</a></li>
		<li><a href="/method">/method</a></li>
		<li><a href="/safe">/safe</a></li>
		<li><a href="/maps/demo">/maps/demo</a></li>
		<li><a href="/maps/london?library=openlayers">/maps/london?library=openlayers</a></li>
		<li><a href="/maps/london?library=leaflet">/maps/london?library=leaflet</a></li>
		<li><a href="/dynamodb/person">GET person: /dynamodb/person</a></li>
		<li><a href="/dynamodb/person?_method=DELETE">DELETE person: /dynamodb/person?_method=DELETE</a></li>			
		<li><a href="/dynamodb/person?_method=PUT&first_name=John&last_name=Doe">PUT person: /dynamodb/person?_method=PUT&first_name=John&last_name=Doe</a></li>	
		<li><a href="/headers/accept">/headers/accept</a></li>
		<li><a href="/versions">/versions</a></li>
	</ul>
	<hr/>

	<a href="http://wiki.nginx.org/Main">
	    <img src="/static/nginx-logo.png"
	         width="200"
	         height="50"
	         border="0"
	         alt="Nginx"
	         title="Nginx" /></a>

	<a href="http://python.org/">
	    <img src="/static/python-logo.gif"
	         border="0"
	         alt="Python"
	         title="Python" /></a>

	<a href="http://flask.pocoo.org/">
	    <img src="/static/flask-powered.png"
	         border="0"
	         alt="Flask powered"
	         title="Flask powered" /></a>

	<a href="http://http://www.openstreetmap.org/">
		<img src="/static/osm-logo.png"
	         border="0"
	         alt="OpenStreetMap"
	         title="OpenStreetMap" /></a>

	<a href="http://openid.net/">
	    <img src="/static/openid-logo.png"
	         width="125"
	         height="50"
	         border="0"
	         alt="OpenID"
	         title="OpenID" /></a>

</body>
</html>
